<div class="container">
  <div class="header">
    <%= link_to "New Artist", new_artist_path, class: "btn btn-primary"%>
  </div>
  
  <%= raw "<br>" %>
  
  <%= link_to_prev_page @artists, 'Prev Page' %> <%= link_to_next_page @artists, 'Next Page' %>
  <table class="table table-striped table-sm">
    <thead>
      <tr>

        <th>Name</th>
        <th>Year</th>
        <th>Region</th>
        <th>Genre 1</th>
        <th>Genre 2</th>
        <th>Genre 3</th>
        <th>Collectif</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @artists.each do |artist| %>
        <tr>
          <td><%= artist.name %></td>
          <td><%= artist.year %></td>
          <td><%= artist.region %></td>
          <td><%= artist.genre1 %></td>
          <td><%= artist.genre2 %></td>
          <td><%= artist.genre3 %></td>
          <td><%= artist.collectif %></td>
          <td><%= link_to "Edit", edit_artist_path(artist), class: "btn btn-secondary"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>


</div>
